<ion-content [fullscreen]="true" class="conten-recgardaro">

  <ion-img src="assets/img/imagen-mensaje.png" class="img-recargable"></ion-img>
  <h3 class="ion-text-center texto-17-size-18 font-bold">Mensaje enviado</h3>
  <p class="ion-text-center texto-17-size-14 font-light">Gracias por escribirnos, pronto uno de nuestros asesores especializados atenderá tu solicitud.</p>

  <div class="div-footer-rojo div-footer-padding-bottom">
    <ion-button mode="ios" class="btn-onboarding btn-verde margin-top-0" href="/home">Enviar</ion-button>
  </div>
</ion-content>
