<ion-content [fullscreen]="true" class="conten-recgardaro">

  <ion-img src="assets/img/saldo-recargado.png" class="img-recargable"></ion-img>
  <h3 class="ion-text-center texto-17-size-18 font-bold">¡Saldo recargado!</h3>
  <p class="ion-text-center texto-17-size-14 font-light">Haz recargado <b>XX pasajes</b> por el monto de S/ XX</p>

  <div class="div-footer-rojo div-footer-padding-bottom">
    <ion-button mode="ios" class="btn-onboarding btn-verde margin-top-0" href="/antencion-cliente">Ir al inicio</ion-button>
  </div>
</ion-content>
