.text-modal{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    ion-button{
        --background: transparent;
        --background-activated: transparent; 
        --color: #fff;
        --color-activated: #fff;
        width: auto;
        height: auto;
        margin-left: 0.5rem !important;
        margin: 0px;
        ion-img{
            width: 1.5rem;
        }
      }
}