<ion-content class="conten-login-proceso">
  <ion-img src="assets/img/login.jpg" alt="onboardinguno"></ion-img>
  <h1 class="ion-text-center texto-17-size-18 font-bold">Ingresa a tu cuenta</h1>
  <ion-item class="item-campos margin-top-27">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input placeholder="pro@puntopro.pe"></ion-input>
  </ion-item>
  <ion-item class="item-campos">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input  placeholder="Contraseña"></ion-input>
    <ion-icon name="eye-off-outline"></ion-icon>
  </ion-item>
  <ion-button mode="ios" class="btn-onboarding-omitir font-bold margin-top-30" href="/recuperar-contrasena">Olvidaste tu contraseña?</ion-button>
  <ion-button mode="ios" class="btn-onboarding" href="/home">Ingresar</ion-button>
  <p class="font-regular texto-44-size-13 ion-text-center margin-top-30">
    No tienes cuenta? <a href="/registro" class="link-bold-decoration-none">Registrate</a>
  </p>
</ion-content>
