<ion-content class="conten-onboarding">
  <ion-img src="assets/img/onboarding-tres.png" alt="onboardinguno"></ion-img>
  <div class="div-circle-onboard ion-text-center">
      <ion-icon name="ellipse-sharp"></ion-icon>
      <ion-icon name="ellipse-sharp"></ion-icon>
      <ion-icon name="ellipse-sharp" class="icon-active-onboarding"></ion-icon>
      <ion-icon name="ellipse-sharp"></ion-icon>
  </div>
  <h1 class="ion-text-center texto-44-size-18 font-bold">Enfócate en lo importante</h1>
  <p class="ion-text-center font-light texto-44-size-16">
      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
  </p>
  <ion-button mode="ios" class="btn-onboarding" href="/onboarding4">Siguiente</ion-button>
  <ion-button mode="ios" class="btn-onboarding-omitir" href="/login">Omitir</ion-button>
</ion-content>
