.card-header{
  background-color: #3AC19D;
  margin: 0px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 0px;
  padding-top: 3.1875rem;
  padding-bottom: 4.6875rem;
  z-index: 9999;
  .div-avatar-absolute{
    position: absolute;
    bottom: -3.4375rem;
    width: 100%;
    left: 0;
    z-index: 9999;
    .avatar-aobsolute-header{
      margin: 0 auto;
    }
  }
}

.fondo-verde-oscura::part(background) {
  background: #f1fdfa;
}
.div-ruta-home{
  margin: 0 auto;
  margin-top: 18.75rem !important;
  width: 3.125rem;
  border: 7px solid #E4E4E4;
  height: 100vh;
  border-radius: 1.5rem;
  position: relative;
  margin-bottom: 11.5625rem;
  .div-circle-items{
    position: absolute;
    .p-azul-ruta{
      color: #1B397F;
      font-size: 0.875rem;
    }
    .div-circle-blanco{
      width: 0.8125rem;
      height: 0.8125rem;
      background-color: #fff;
      border:1px solid #D1D1D1;
      border-radius: 50%;
      margin: 0 auto;
    }
    .div-circle-margin-0{
      margin: 0 0 !important;
    }
  }
  .div-items-wight-paraderos{
    width: 10.625rem;
    .p-anaranjado{
      color: #F29423;
      font-size: 0.75rem;
      width: 100%;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
  .div-tiem-1{
    top: -3.5625rem;
    left: -4.1875rem;
  }
  .div-tiem-ultimo{
    bottom: -3.625rem;
    left: -4.1875rem;
  }
  .div-tiem-2{
    right: -10.375rem;
    top: 4.375rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    p{
      margin-left: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: left;
      margin-left: 1.25rem !important;
    }
  }
  .div-tiem-3{
    left: -10.375rem;
    top: 4.375rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    p{
      margin-right: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: end;
      margin-right: 1.25rem !important;
    }
  }
  .div-tiem-4{
    right: -10.375rem;
    top: 8.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    p{
      margin-left: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: left;
      margin-left: 1.25rem !important;
    }
  }
  .div-tiem-5{
    left: -10.375rem;
    top: 8.75rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    p{
      margin-right: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: right;
      margin-right: 1.25rem !important;
    }
  }
  .div-tiem-6{
    right: -10.375rem;
    top: 13.125rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    p{
      margin-left: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: left;
      margin-left: 1.25rem !important;
    }
  }
  .div-tiem-7{
    left: -10.375rem;
    top: 13.125rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    p{
      margin-right: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: end;
      margin-right: 1.25rem !important;
    }
  }
  .div-tiem-8{
    right: -10.375rem;
    top: 17.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    p{
      margin-left: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: left;
      margin-left: 1.25rem !important;
    }
  }
  .div-tiem-9{
    left: -10.375rem;
    top: 17.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    p{
      margin-right: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: end;
      margin-right: 1.25rem !important;
    }
  }
  .div-tiem-10{
    right: -10.375rem;
    top: 21.875rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    p{
      margin-left: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: left;
      margin-left: 1.25rem !important;
    }
  }
  .div-tiem-11{
    left: -10.375rem;
    top: 21.875rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    p{
      margin-right: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: end;
      margin-right: 1.25rem !important;
    }
  }
  .div-tiem-12{
    right: -10.375rem;
    top: 26.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: start;
    p{
      margin-left: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: left;
      margin-left: 1.25rem !important;
    }
  }
  .div-tiem-13{
    left: -10.375rem;
    top: 26.25rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: end;
    p{
      margin-right: 6px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .p-anaranjado{
      text-align: end;
      margin-right: 1.25rem !important;
    }
  }
}
#bajda{
  position: absolute;
  top: 7.5rem;
  left: -1.75rem;
  z-index: 1;
}
#subida{
  position: absolute;
  bottom: 18.75rem;
  right: -1.75rem;
  z-index:1;
}

.div-footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #1B397F;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0px;
  z-index: 9999;
  padding-top: 1.875rem;
  padding-bottom: 0.625rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}
.btn-recargar-home{
  --background: #3AC19D;
  --background-activated: #3AC19D;
  --color: #fff;
  --color-activated: #fff;
  --border-radius: 25px;
  font-size: 0.875rem;
  font-family: Poppins-Bold;
  height: 3.0625rem;
  margin: 0px;
  --padding-start: 1.625rem;
  --padding-end: 1.625rem;
  margin-top: 0.5rem !important;
}