<ion-content class="conten-login-proceso">
  <ion-img src="assets/img/registro.jpg" alt="onboardinguno"></ion-img>
  <h1 class="ion-text-center texto-17-size-18 font-bold">Crea tu cuenta</h1>
  <ion-item class="item-campos margin-top-27">
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input placeholder="pro@puntopro.pe" type="email"></ion-input>
  </ion-item>
  <ion-item class="item-campos">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input  placeholder="Crea tu nueva contraseña" type="password"></ion-input>
    <ion-icon name="eye-off-outline"></ion-icon>
  </ion-item>
  <ion-item class="item-campos">
    <ion-icon name="lock-closed-outline"></ion-icon>
    <ion-input  placeholder="Repite tu contraseña" type="password"></ion-input>
    <ion-icon name="eye-off-outline"></ion-icon>
  </ion-item>
  <ion-checkbox labelPlacement="end" mode="ios" class="font-light texto-17-size-12 margin-top-30">Acepto los <a>términos y condiciones</a></ion-checkbox>
  <ion-button mode="ios" class="btn-onboarding" href="/crear-perfil">¡Empecemos!</ion-button>
  <p class="font-regular texto-44-size-13 ion-text-center margin-top-30">
    ¿Ya tienes cuenta? <a href="/login" class="link-bold-decoration-none">Ingresa</a>
  </p>
</ion-content>
